<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h1>Contact <span>Us</span> </h1>
            <div class="contact-box">
                <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
                    <input type="text" name="firstName" ngModel class="input-field" placeholder="Your Name">
                    <input type="text" name="lastName" class="input-field" ngModel placeholder="Your Last Name">
                    <input type="email" name="Email" class="input-field" ngModel placeholder="Your Email">
                    <input type="number" name="Phone" class="input-field" ngModel placeholder="Your Cell Number">
                    <textarea type="text" name="Message" ngModel class="input-field textarea-field" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn">Send Message</button>

                </form>
                <table style="width:100%">
                    <tr>
                      <td>First Name</td>
                      <td>Last Name</td>
                      <td>Email</td>
                      <td>Contact</td>
                      <td>Message</td>
                    </tr>
                    <tr *ngFor="let message of messages">
                      <td>{{message.firstName}}</td>
                      <td>{{message.lastName}}</td>
                      <td>{{message.Email}}</td>
                      <td>{{message.Phone}}</td>
                      <td>{{message.Message}}</td>
                    </tr>
                  </table>
            </div>
    
        </div>
    </div>
   
</div>
