<!-- <p>Read Free Library Books Online. Millions of books available through Controlled Digital Lending. Keep Track of your Favorite Books. Organize your Books using Lists & the Reading Log. Try the virtual Library Explorer. Digital shelves organized like a physical library. Be an Open Librarian. Dozens of ways you can help improve the library.</p> -->
<section class="about">
    <div class="main">
        <img src="assets/images/book.jpg" alt="">
        <div class="about-text">
            <h1>About <span>SHELF</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident,  sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
    </div>
</section>