<section class="sticky">
    <div class="header"> 
        <h2 class="logo" href="#landing">SHE<span>LF</span></h2>
        <ul class="nav-bar">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#">STACK</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#contact">CONTACT US</a></li>
            
                    
      
            
        </ul>
        <a class="btn"><button (click)="openDialog()">LOGIN</button></a>
        <a class="btn"><button (click)="openSignup()">SIGN UP</button></a>
      </div>

</section>

  <section id="landing">
    <div class="landing">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            
              <div class="content">
                <div class="column">
                <div class="textbox">
                  <h2>Calling all tech enthusiasts. Come ruin your <span>eyesight.</span> </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation <br>ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in <br> voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, <br> sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
        
         
                </div>
              </div>
              
              <div class="column">
                <div class="imgbox">
                  <img src="assets/images/land.png" alt="">
                </div>
              </div>
      
              
      
            </div>
            
            <div class="column-1">
            <h2>Calling all tech enthusiasts. Come ruin your <span>eyesight.</span> </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation <br>ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in <br> voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, <br> sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
  </section>
  <section id="about"><div class="about-shelf">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <app-about-shelf></app-about-shelf>
        </div>
      </div>
    </div>
  </div>
  </section>
  <section id="our-team" class="our-team">
    <app-our-team></app-our-team>
  </section>

  <section id="services">

  </section>
  <section id="contact" class="contact"> 
  <app-contact></app-contact>


  </section>
  <div class="footer">

  </div>
<router-outlet></router-outlet>